.middle-part {
    position: relative;
    top: 50px;
    width: 80%;
    max-width: 1100px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.info{
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 10% 6.5% 10% 10%;
}

.Title{
    font-weight: 500;
    font-size: 13px; 
    color: rgba(0, 0, 0, 0.6);
}

.Value{
    margin-top: 5%;
    font-weight: 700;
    font-size: 20px;
}

@media only screen and (max-width: 1000px){
    .middle-part{
        grid-template-columns: repeat(2, 1fr);
        top: 68.4px;
    }

    .info{
        padding: 19.625px 27.5px 0 27.5px;
    }

    .info:nth-child(3), .info:nth-child(4){
        padding-bottom: 19.625px;
    }

    .Title{
        font-size: 11px;
    }

    .Value{
        margin-top: 5.5px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 490px) {
    .middle-part{
        grid-template-columns: repeat(1, 1fr);
        top: 114px;
        padding: 20px 30px;
        width: 60%;
        word-break: break-all;
    }

    .info{
        padding: unset;
        align-items: center;
        margin-bottom: 20px;
    }

    .info:nth-child(3), .info:nth-child(4){
        padding-bottom: unset;
    }

    .info:nth-child(4){
        margin-bottom: unset;
    }

    .Title, .Value{
        text-align: center;
    }
}